<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=" />
	<script src="/common/Modules/vendor/regenerator-runtime/current/index.min.js"></script>
	<script src="/common/Modules/vendor/axios/current/index.min.js"></script>
	<script src="/common/Modules/vendor/crypto-js/current/index.min.js"></script>
	<script src="/common/Modules/native/sp/current/index.js"></script>
	<script src="/common/Modules/native/spx/current/index.min.js"></script>
	<script src="/common/Modules/vendor/vue/current/vue.min.js"></script>
	<script src="/common/Modules/vendor/vue-router/current/vue-router.min.js"></script>
	<script src="/common/Modules/vendor/vuex/current/vuex.min.js"></script>
	<script src="/common/Modules/native/master-app/current/js/index.js"></script>
</head>

<body class="body">
	<div id="app"></div>
</body>

</html>